<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
      .table th {
        text-align: center;   
      }
      .table td {
        text-align: center;   
      }
      tr {
        line-height: 15px;
        min-height: 15px;
        height: 15px;
      }
    </style>

    <title>PRI Time and Attendance Management System</title>
  </head>
  <body>
    <div class="container">
        <br>
        <h1>PRI Time and Attendance Management System</h1>  
        <br> 
        <div class="form-row">
            <div class="form-group col-md-3">
              <select class="form-control" id="division">
                <option>{{formdata[0]}}</option>
            </select>
            </div>
            <div class="form-group col-md-3">
              <select class="form-control" id="team">
                <option>{{formdata[1]}}</option>
            </select>
            </div>
            <div class="form-group col-md-2">
                <div class="input-group date">
                    <input type="text" class="form-control" value="{{formdata[2]}}" id=date onChange="javascript:window.location='tam?division=' + $(division).val() + '&team=' + $(team).val() + '&today=' + $(date).val();"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-8" style="height:750px; overflow-y: auto; overflow-x: hidden;">
            <!-- <iframe src="/tam_table" style="width:100%; height:100%; position:absolute; display:block; top:0; left:0; border:none;"></iframe> -->
              <div class="container">
                <br>
                <table class="table">
                    <thead>
                      <tr>
                        <!-- <th scope="col">#</th> -->
                        <th scope="col">이름<br></th>
                        <th scope="col">월요일<br><h7 style="padding: 0px; margin: 0px; font-weight:normal">({{dates[0]}})</h7></th>
                        <th scope="col">화요일<br><h7 style="padding: 0px; margin: 0px; font-weight:normal">({{dates[1]}})</h7></th>
                        <th scope="col">수요일<br><h7 style="padding: 0px; margin: 0px; font-weight:normal">({{dates[2]}})</h7></th>
                        <th scope="col">목요일<br><h7 style="padding: 0px; margin: 0px; font-weight:normal">({{dates[3]}})</h7></th>
                        <th scope="col">금요일<br><h7 style="padding: 0px; margin: 0px; font-weight:normal">({{dates[4]}})</h7></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for i in range(data_cnt) %}
                        <tr data-toggle="modal" data-id="{{tam_data[i]}}" data-next="{{next_tam_data[i]}}" data-target="#inputModal" class="passingID" style="cursor: pointer;">
                          <!-- <th scope="row">1</th> -->
                          <td >{{tam_data[i][2]}}</td>
                          <td {% if tam_data[i][3][0] == "출장" %} title="{{tam_data[i][3][1]}}" {% endif %}>{{tam_data[i][3][0]}}</td>
                          <td {% if tam_data[i][3][0] == "출장" %} title="{{tam_data[i][3][1]}}" {% endif %}>{{tam_data[i][4][0]}}</td>
                          <td {% if tam_data[i][3][0] == "출장" %} title="{{tam_data[i][3][1]}}" {% endif %}>{{tam_data[i][5][0]}}</td>
                          <td {% if tam_data[i][3][0] == "출장" %} title="{{tam_data[i][3][1]}}" {% endif %}>{{tam_data[i][6][0]}}</td>
                          <td {% if tam_data[i][3][0] == "출장" %} title="{{tam_data[i][3][1]}}" {% endif %}>{{tam_data[i][7][0]}}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </div>
        
            <!-- Modal -->
            <div class="modal fade" id="inputModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">근태 입력</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">

                    {% for i in range(10) %}

                    {% if i == 0 %}
                      <h6><b>이번주</b></h6>
                      <hr>
                    {% endif %}

                    <div class="form-row">
                      <div class="form-group col-md-3">
                        <label for="staticEmail" class="col-sm-2 col-form-label">{{inputdates[i]}}</label>
                      </div>
                      <div class="form-group col-md-3">
                      <select class="form-control" id="tamselect{{i}}">
                        <option>출근</option>
                        <option>재택</option>
                        <option>출장</option>
                        <option>휴가/휴일</option>
                      </select>
                      </div>
                      <div class="form-group col-md-5">
                      <select class="form-control" id="destnselect{{i}}">
                        <option>해당없음</option>
                        <option>평택</option>
                        <option>창원</option>
                        <option>오창</option>
                        <option>안산</option>
                        <option>마곡</option>
                        <option>용산</option>
                      </select>
                      </div>
                    </div>  

                    {% if i == 4 %}
                      <br>
                      <h6><b>다음주</b></h6>
                      <hr>
                    {% endif %}

                    {% endfor %}

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>


          </div>
          <div class="col-sm-4" style="height:750px;">
            <iframe id="today_info" style="width:100%; height:100%; position:absolute; display:block; top:0; left:0; border:none;"></iframe>
          </div>
          <!-- <div class="col-sm-5" style="background-color:pink; height:250px;">
            <iframe src="/today_wfh" style="width:100%; height:100%; position:absolute; display:block; top:0; left:0; border:none;"></iframe>
          </div>
          <div class="col-sm-5" style="background-color:blue; height:250px;">
            <iframe src="/tam_chart" style="width:100%; height:100%; position:absolute; display:block; top:0; left:0; border:none;"></iframe>
          </div> -->
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker3.min.css">

    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.min.js"></script>

    <script type='text/javascript'>
        $(function(){
            $('.input-group.date').datepicker({
                calendarWeeks: false,
                todayHighlight: true,
                autoclose: true,
                format: "yyyy-mm-dd"
            });     
        });
    </script>

    <script>
      iframe = document.getElementById('today_info');
      iframe.src = '/today_info?division=' + $(division).val() + '&team=' + $(team).val() + '&today=' + $(date).val()
    </script>

    <script>
      $(document).on("click", ".passingID", function () {
        var ids = $(this).data('id');

        // ids = ids.replace(/]/gi, '').replace('[', '').replace('[', '').replace(']', '').replace("'", '').replace("'", '').replace(/\s/g, '').replace('[', '');

        // alert(ids.split(',')[3]);

        tamsel1 = ids.split(',')[3].replace('[', '').replace(']', '').replace("'", '').replace("'", '').replace(/\s/g, '');
        tamsel2 = ids.split(',')[5].replace('[', '').replace(']', '').replace("'", '').replace("'", '').replace(/\s/g, '');
        tamsel3 = ids.split(',')[7].replace('[', '').replace(']', '').replace("'", '').replace("'", '').replace(/\s/g, '');
        tamsel4 = ids.split(',')[9].replace('[', '').replace(']', '').replace("'", '').replace("'", '').replace(/\s/g, '');
        tamsel5 = ids.split(',')[11].replace('[', '').replace(']', '').replace("'", '').replace("'", '').replace(/\s/g, '');

        if (tamsel1 == "") {
          tamsel1 = "출근";
        };
        if (tamsel2 == "") {
          tamsel2 = "출근";
        };
        if (tamsel3 == "") {
          tamsel3 = "출근";
        };
        if (tamsel4 == "") {
          tamsel4 = "출근";
        };
        if (tamsel5 == "") {
          tamsel5 = "출근";
        };


        $(".modal-body #tamselect0").val(tamsel1);
        $(".modal-body #tamselect1").val(tamsel2);
        $(".modal-body #tamselect2").val(tamsel3);
        $(".modal-body #tamselect3").val(tamsel4);
        $(".modal-body #tamselect4").val(tamsel5);

        destnselect1 = ids.split(',')[4].replace('[', '').replace(']', '').replace("'", '').replace("'", '').replace(/\s/g, '');
        destnselect2 = ids.split(',')[6].replace('[', '').replace(']', '').replace("'", '').replace("'", '').replace(/\s/g, '');
        destnselect3 = ids.split(',')[8].replace('[', '').replace(']', '').replace("'", '').replace("'", '').replace(/\s/g, '');
        destnselect4 = ids.split(',')[10].replace('[', '').replace(']', '').replace("'", '').replace("'", '').replace(/\s/g, '');
        destnselect5 = ids.split(',')[12].replace('[', '').replace(']', '').replace("'", '').replace("'", '').replace(/\s/g, '');

        if (destnselect1 == "") {
          destnselect1 = "해당없음";
        };

        if (destnselect2 == "") {
          destnselect2 = "해당없음";
        };

        if (destnselect3 == "") {
          destnselect3 = "해당없음";
        };

        if (destnselect4 == "") {
          destnselect4 = "해당없음";
        };

        if (destnselect5 == "") {
          destnselect5 = "해당없음";
        };

        $(".modal-body #destnselect0").val(destnselect1);
        $(".modal-body #destnselect1").val(destnselect2);
        $(".modal-body #destnselect2").val(destnselect3);
        $(".modal-body #destnselect3").val(destnselect4);
        $(".modal-body #destnselect4").val(destnselect5);

        var next = $(this).data('next');

        // alert(next.split(',').length);

        next = next.replace(/]/gi, '').replace('[', '').replace('[', '').replace(']', '').replace("'", '').replace("'", '').replace(/\s/g, '').replace('[', '')

        // tamsel6 = next.split(',')[3].replace('[', '').replace(']', '').replace("'", '').replace("'", '').replace(/\s/g, '');
        // tamsel7 = next.split(',')[5].replace('[', '').replace(']', '').replace("'", '').replace("'", '').replace(/\s/g, '');
        // tamsel8 = next.split(',')[7].replace('[', '').replace(']', '').replace("'", '').replace("'", '').replace(/\s/g, '');
        // tamsel9 = next.split(',')[9].replace('[', '').replace(']', '').replace("'", '').replace("'", '').replace(/\s/g, '');
        // tamsel10 = next.split(',')[11].replace('[', '').replace(']', '').replace("'", '').replace("'", '').replace(/\s/g, '');

        // if (tamsel6 == "") {
        //   tamsel6 = "출근";
        // };
        // if (tamsel7 == "") {
        //   tamsel7 = "출근";
        // };
        // if (tamsel8 == "") {
        //   tamsel8 = "출근";
        // };
        // if (tamsel9 == "") {
        //   tamsel9 = "출근";
        // };
        // if (tamsel10 == "") {
        //   tamsel10 = "출근";
        // };

        // $(".modal-body #tamselect6").val(tamsel6);
        // $(".modal-body #tamselect7").val(tamsel7);
        // $(".modal-body #tamselect8").val(tamsel8);
        // $(".modal-body #tamselect9").val(tamsel9);
        // $(".modal-body #tamselect10").val(tamsel10);

        // destnselect6 = next.split(',')[4].replace('[', '').replace(']', '').replace("'", '').replace("'", '').replace(/\s/g, '');
        // destnselect7 = next.split(',')[6].replace('[', '').replace(']', '').replace("'", '').replace("'", '').replace(/\s/g, '');
        // destnselect8 = next.split(',')[8].replace('[', '').replace(']', '').replace("'", '').replace("'", '').replace(/\s/g, '');
        // destnselect9 = next.split(',')[10].replace('[', '').replace(']', '').replace("'", '').replace("'", '').replace(/\s/g, '');
        // destnselect10 = next.split(',')[12].replace('[', '').replace(']', '').replace("'", '').replace("'", '').replace(/\s/g, '');

        // alert(tamsel10);

      });
    </script>

  </body>


</html>